<div class="about-container">
    <div class="image">
        <img src="/assets/images/about.jpg" alt="dsf" width="600px">
    </div>
    <div class="about-us">
        <h1>About us</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta aliquid quos, a magni tempora
            deleniti dignissimos! Hic, accusantium voluptates molestias tempore quod deserunt possimus quaerat deleniti
            quas culpa qui aliquam ducimus quae porro, veniam facere dolorum similique optio est laborum voluptatem sed
            vero veritatis totam? Iusto perferendis libero a. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Aliquid iusto saepe accusamus voluptas. Assumenda nisi ipsam totam reiciendis quaerat laboriosam impedit,
            deserunt enim ipsum ratione dolores eos labore facilis quia aut aspernatur voluptas! Laboriosam ab porro
            totam, similique illum mollitia dolor accusamus saepe, consequuntur ea voluptate perferendis adipisci
            eveniet magnam.
        </p>
    </div>
</div>

<div class="about-container">
    <div class="about-us">
        <h1>Comics</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta aliquid quos, a magni tempora
            deleniti dignissimos! Hic, accusantium voluptates molestias tempore quod deserunt possimus quaerat deleniti
            quas culpa qui aliquam ducimus quae porro, veniam facere dolorum similique optio est laborum voluptatem sed
            vero veritatis totam? Iusto perferendis libero a. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Aliquid iusto saepe accusamus voluptas. Assumenda nisi ipsam totam reiciendis quaerat laboriosam impedit,
            deserunt enim ipsum ratione dolores eos labore facilis quia aut aspernatur voluptas! Laboriosam ab porro
            totam, similique illum mollitia dolor accusamus saepe, consequuntur ea voluptate perferendis adipisci
            eveniet magnam.
        </p>
    </div>
    <div class="image">
        <img src="/assets/images/about1.jpg" width="600px" alt="" height="350px">
    </div>
</div>
<app-footer></app-footer>